{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}{{ object_name }} Confirm delete?{% endblock %}

{% block content %}
    <div class="container p-none" style="position: absolute;text-align: center">
        <div class="side-p">
            <h3>Are you sure?</h3>
            <p>You're about to delete {{ object }}. Please confirm.</p>
            <form novalidate method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <input class="btn btn-outline-danger" type="submit" value="Confirm"/>
                <a class="btn btn-secondary" role="button" href="{% url 'own_blogs' %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}